 body {
    background-color: #eaeaea! important;
}

.roundb {
    border-radius: 20px ! important;
}

/* Check la couleur*/
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111111; 
  overflow-x: hidden;
  padding-top: 16px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar a:last-child:hover {
  color: #f10000;
}

.mast {
  width:100%;
  height:50vh;
  color:white;
  background-image: linear-gradient(to right, #001d85, #159a00);
}

.mast h1 {
  padding-top: 20vh;
}

#core {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
/*@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}*/

 .reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.reveal-bis {
  margin-left: 160px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

#cont a:hover {
  color: #004508;
}

#cont a{
  font-size: 20px;
  color: #002063
}

#cont {
  padding-top: 20px;
}