.bg-header{
	background-color:#4b0082;
	color:#9acd32;
	text-align: center;
	margin: 0 ! important;
	border: 0 ! important;
}

.navbar{
	margin: 0 ! important;
	border: 0 ! important;
}

.container-fluid {
	margin: :0 ! important;
}
